<!DOCTYPE html>
<html lang="!language!">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>!seo.title!</title>
<link rel="canonical" href="!canonical_link!">
<link href="//!host!/css/site.css" rel="stylesheet">
<link href="//!host!/!language!/theme.css" rel="stylesheet">
</head>
<body>
